<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>ion-col</ion-col>
      <ion-col>ion-col</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
